{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row my-3">
		<div class="col">
		{% for flashMessage in app.session.flashbag.get('message') %}

		<div class="badge badge-success">
			{{ flashMessage }}
		</div>

		{% endfor %}
		</div>
	</div>
	<div class="row py-4">
		<div class="col">

			<h3 class="py-3">Viewing Surveys</h3>

			<div class="btn-group">
				<a href="{{ path("surveys_list") }}" class="my-2 btn btn-success btn-sm">Open</a>
				<a href="{{ path("surveys_closed_list") }}" class="my-2 btn btn-light btn-sm">Closed</a>
			</div>

			<ul class="list-group">
				{% for survey in surveys_with_dates %}
					<li class="list-group-item" id="{{survey.id}}">
						<span class="badge badge-{{ survey.status == 2 ? 'secondary' : 'success' }}">{{ survey.status == 2 ? 'closed' : 'open' }}</span>
						<a href="{{ path("surveys_response", { id: survey.id }) }}">{{ survey.surveyTemplate.name }}</a> | <a class="font-weight-bold" href="{{ path("organization_surveys", {id: survey.organization.id}) }}">{{survey.organization.name}}</a>
						<a onClick="return confirm('This will delete all responses for this survey. Are you sure you want to proceed?')" href="{{ path("surveys_delete", {id: survey.id}) }}" class=" btn btn-link text-danger float-right">Delete</a>
						{# <a href="" class="btn text-secondary float-right">Close Survey</a> #}
						<br>{{ survey.dueDate|date('m/d/Y') }}
					</li>
				{% endfor %}
			</ul>

			<h6 class="py-3">No Due Dates</h6>

			<ul class="list-group">
				{% for survey in surveys_without_dates %}
					<li class="list-group-item">
						<span class="badge badge-{{ survey.status == 2 ? 'secondary' : 'success' }}">{{ survey.status == 2 ? 'closed' : 'open' }}</span>
						<a href="{{ path("surveys_response", { id: survey.id }) }}">{{ survey.surveyTemplate.name }}</a> | <a class="font-weight-bold" href="{{ path("organization_surveys", {id: survey.organization.id}) }}">{{survey.organization.name}}</a>
						<a onClick="return confirm('This will delete all responses for this survey. Are you sure you want to proceed?')" href="{{ path("surveys_delete", {id: survey.id}) }}" class=" btn btn-link text-danger float-right">Delete</a>
						<a href="" class="btn text-secondary float-right">Close Survey</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}
