{% extends "base.html.twig" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col">
			{{form_start(form)}}
				{% for response in responses %}
					<label for="{{response.id}}">{{response.question.question}}</label>

					{% if response.question.type == 1 %}
						<input type="text" name="{{response.id}}" id="" value="{{response.answer|default('')}}">

					{% elseif response.question.type == 2 %}
						<textarea name="{{response.id}}" id="" value="{{response.answer|default('')}}"></textarea>

					{% elseif response.question.type == 3 %}
						<input type='number' name="{{response.id}}" id="" value="{{response.answer|default('')}}">

					{% elseif response.question.type == 4 %}
						<input type='radio' name="{{response.id}}" id="" value="true">
						<input type='radio' name="{{response.id}}" id="" value="false">

					{% elseif response.question.type == 5 %}
					<select name="{{response.id}}" id="">
						{% for option in response.question.options|split(',') %}
							<option value="{{option}}">{{option}}</option>
						{% endfor %}
					</select>
					
					{% endif %}
				{% endfor %}

				{{ form_row(form.survey.status)}}
				{{ form_row(form._token) }}
				<input type="submit" value="submit">
				{{form_end(form, {'render_rest': false})}}
		</div>
	</div>
</div>
{% endblock %}