{% extends "base.html.twig" %}
{% block body %}
<div class="container">
	<div class="row my-4">
		<div class="col">

			<h4 class='py-3'><strong>{{ survey.surveyTemplate.name }}</strong> for {{ survey.organization.name }}</h4>

			{{form_start(form)}}
				{% for response in responses %}
				<div class="form-group">
					<label for="{{response.id}}">{{response.question.question}}</label>
					
					{% if response.question.type == 1 %}
					<input class="form-control" type="text" name="{{response.id}}" id="" value="{{response.answer|default('')}}">
					
					{% elseif response.question.type == 2 %}
					<textarea class="form-control" name="{{response.id}}" id="" value="{{response.answer|default('')}}"></textarea>
					
					{% elseif response.question.type == 3 %}
					<input class="form-control" type='number' name="{{response.id}}" id="" value="{{response.answer|default('')}}">
					
					{% elseif response.question.type == 4 %}
					<div class="form-check">
						<input class="form-check-input" type="radio" name="{{response.id}}" value="true">
						<label class="form-check-label" for="{{response.id}}">
						  True
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="{{response.id}}" value="false">
						<label class="form-check-label" for="{{response.id}}">
						  False
						</label>
					</div>

					{# <input type='radio' name="{{response.id}}" id="" value="true"> True
					<input type='radio' name="{{response.id}}" id="" value="false"> False #}
					
					{% elseif response.question.type == 5 %}
					<select name="{{response.id}}" class="form-control">
						{% for option in response.question.options|split(',') %}
						<option {{ option == response.answer ? 'selected'}} value="{{option}}">{{option}}</option>
						{% endfor %}
					</select>
					{% endif %}
				</div>
					
				{% endfor %}

				{{ form_row(form.survey.status)}}

				{{ form_row(form._token) }}
				<input  class='btn btn-primary' type="submit" value="submit">
				{{form_end(form, {'render_rest': false})}}
		</div>
	</div>
</div>
{% endblock %}