{% extends "base.html.twig" %}
{% block body %}
<div class="container">
	<div class="row my-4 justify-content-between">
	<div class="col-sm-12 col-md-6">
		<div class="row">
			<div class="col">
				<h4><strong>{{ survey.surveyTemplate.name }}</strong> for {{ survey.organization.name }}</h4>

				{{form_start(surveyForm)}}
					{% for response in responses %}
					{# {{response.answer}} #}
					<div class="form-group">
						<label for="{{response.id}}">{{response.question.question}}</label>
						
						{% if response.question.type == 1 %}
						<input class="form-control" type="text" name="{{response.id}}" id="" value="{{response.answer|default('')}}">
						
						{% elseif response.question.type == 2 %}
						<textarea class="form-control" name="{{response.id}}" id="">{{response.answer|default('')}}</textarea>
						
						{% elseif response.question.type == 3 %}
						<input class="form-control" type='number' name="{{response.id}}" id="" value="{{response.answer|default('')}}">
						
						{% elseif response.question.type == 4 %}
						<div class="form-check">
							<input class="form-check-input" type="radio" name="{{response.id}}" {% if response.answer == 'true' %}checked{% endif %} value="true">
							<label class="form-check-label" for="{{response.id}}">
							True
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="{{response.id}}" {% if response.answer == 'false' %}checked{% endif %} value="false">
							<label class="form-check-label" for="{{response.id}}">
							False
							</label>
						</div>

						{# <input type='radio' name="{{response.id}}" id="" value="true"> True
						<input type='radio' name="{{response.id}}" id="" value="false"> False #}
						
						{% elseif response.question.type == 5 %}
							{% for option in response.question.options|split(',') %}
							<div class="form-check">
								<input class="form-check-input" {{ option in response.answer ? 'checked'}} type="checkbox" name="{{response.id}}[]" value="{{option}}">
								<label class="form-check-label">{{option}}</label>
							</div>
							{# <option {{ option == response.answer ? 'selected'}} value="{{option}}">{{option}}</option> #}
							{% endfor %}
						{% endif %}
					</div>
						
					{% endfor %}

					{{ form_row(surveyForm.survey.status)}}

					{{ form_row(surveyForm._token) }}
					<input  class='btn btn-primary' type="submit" value="submit">
					{{form_end(surveyForm, {'render_rest': false})}}
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="row">
			<div class="col-12">
				<h5>{{ organization.contactPerson ?? 'No contact name' }}</h5>
				<ul>
					<li>
						{{ organization.contactPhoneNumber ?? 'No phone number' }}
					</li>
					<li>
						{{ organization.contactEmail ?? 'No contact email' }}
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h5>Add Notes</h5>
				{{ form(contactActionForm) }}
			</div>
			<div class="col-12">
				{% for contactAction in contactActions|reverse() %}
					<div class="card my-1">
						<div class="card-body bg-light">
							<p>{{ contactAction.note }}</p>
							<p class="small"><strong>{{ contactAction.user.email }}</strong> at {{ contactAction.timeStamp|date('m/d/y h:i')}}</p>
							{% if contactAction.emails is not empty %}
								<span class="badge badge-info"><i class="material-icons">email</i></span>
							{% endif %}
							{% if contactAction.phoneCalls is not empty %}
								<span class="badge badge-info"><i class="material-icons">phone</i></span>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}