{% extends "base.html.twig" %}

{% block body %}
<div class="container-xl">
	<div class="row py-4 justify-content-between">
		<div class="col-sm-12 col-md-6">
			<div class="row">
				<div class="col">
					<h1>Add/Edit Company</h1>
					{{ form_start(form) }}

					{{ form_row(form.custom_id) }}
					{{ form_row(form.contactPerson) }}
					{{ form_row(form.name) }}
					<div class="row">
						<div class="col">
							{{ form_row(form.streetAddress1 ) }}
						</div>
						<div class="col">
							{{ form_row(form.streetAddress2) }}
						</div>
					</div>
					{{ form_row(form.city) }}
					<div class="row">
						<div class="col">
							{{ form_row(form.state) }}
						</div>
						<div class="col">
							{{ form_row(form.postalCode) }}
						</div>
					</div>
					{{ form_row(form.country) }}
					{{ form_row(form.contactPhoneNumber) }}
					{{ form_row(form.contactFax) }}
					{{ form_row(form.contactOtherNumber) }}
					{{ form_row(form.contactEmail) }}
					{{ form_row(form.directoryUrl) }}
					{{ form_row(form.membershipCategory) }}
					{{ form_row(form.tags) }}

					{{ form_end(form) }}
				</div>
			</div>
		</div>
		{% if organization is defined %}
		<div class="col-sm-12 col-md-4">
			<h5>Contacts</h5>
			<div class="list-group">
				{% if contacts %}
					{% for contact in contacts %}
						<div class="list-group-item">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1"><a href="{{ path("view_contact", {uuid:contact.uuid}) }}">{{ contact.name }}</a></h5>
								<small>{{ contact.typeString }}</small>
							</div>
							<ul>
								<li>Email: {{ contact.email }}</li>
								<li>Office: {{ contact.phone }}</li>
								<li>Mobile: {{ contact.mobile }}</li>
							</ul>
						</div>
					{% endfor %}
				{% endif %}
				<div class="list-group-item">
					<h5>Add new contact</h5>
					<form action="{{ path("ogranization_create_contact", {id:organization.id}) }}" method="post">
						<div class="form-group">
							<label for="contactName">Name</label>
							<input type="text" class="form-control" name="name" id="contactName" placeholder="Name" required>
						</div>
						<div class="form-group">
							<label for="contactType">Type</label>
							<select class="form-control" name="type" id="contactType">
								<option value="1">New leads</option>
								<option value="2">Owner/manager</option>
								<option value="3">Membership benefits</option>
								<option value="4">Safety manager</option>
								<option value="5">Account payable</option>
							</select>
						</div>
						<div class="form-group">
							<label for="contactEmail">Email</label>
							<input type="email" class="form-control" name="email" id="contactEmail" placeholder="email">
						</div>
						<div class="form-group">
							<label for="contactPhone">Office Phone</label>
							<input type="text" class="form-control" name="phone" id="contactPhone" placeholder="phone">
						</div>
						<div class="form-group">
							<label for="mobilePhone">Mobile Phone</label>
							<input type="text" class="form-control" name="mobile" id="mobilePhone" placeholder="phone">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
			<h5>Latest Notes</h5>
			{% for survey in organization.surveys %}
				{% for contactAction in survey.contactActions|reverse() %}
					<div class="card my-1">
					<card class="card-header">
						<a href="{{path("surveys_response", {id: contactAction.survey.id} )}}">{{contactAction.survey.surveyTemplate.name}}</a>
					</card>
						<div class="card-body bg-light">
							<p>{{ contactAction.note }}</p>
							<p class="small"><strong>{{ contactAction.user.email }}</strong> at {{ contactAction.timeStamp|date('m/d/y h:i')}}</p>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock body %}