{% extends "base.html.twig" %}

{% block body %}
<div class="container">
	<div class="row my-3">
		<div class="col">
		{% for flashMessage in app.session.flashbag.get('message') %}

		<div class="badge badge-success">
			{{ flashMessage }}
		</div>

		{% endfor %}
		</div>
	</div>
    <div class="row py-4">
        <div class="col">
            <ul class="list-group">
                {% for organization in organizations %}

                {# get the open survey count #}
                {% set openSurveys = 0 %}
                {% for survey in organization.surveys %}
                    {% if survey.status != 2 %}
                        {% set openSurveys = openSurveys + 1 %}
                    {% endif %}
                {% endfor %}

                <li class="list-group-item" id="{{ organization.id}}">
                    <a href="{{path("organizations_edit", {id: organization.id})}}">{{ organization.name }}</a>
                    <a href="{{ path("organization_surveys", {id: organization.id}) }}" class="btn btn-link text-secondary">Surveys</a>
                    <a href="{{ path("organization_content", {id: organization.id}) }}" class="btn btn-link text-secondary">Posted Content ({{ organization.postedContents|length }})</a>
                    <a href="{{ path("organization_contacts", {id: organization.id}) }}" class="btn btn-link text-secondary">Contacts ({{ organization.contacts|length }})</a>
                    <a onClick='return confirm("This will delete all open and closed surveys ({{ organization.surveys|length() }}) for this organization. Are you sure you want to proceed?")' href="{{ path("organizations_delete", {id: organization.id}) }}" class="btn btn-link text-danger">Delete</a>
                    {% if openSurveys > 0 %}
                    <span class="float-right badge badge-primary">{{ openSurveys }} Open Survey(s)</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}