<label for="{{question.id}}">{{question.question}}</label>
<select name="{{question.id}}" multiple={{question.multiple|default(false)}} id="">
	{% for option in question.options %}
		<option value="{{option}}">{{option}}</option>
	{% endfor %}
</select>